/**
 * Theme Color Variables
 */
:root {
    /* Parchment (light): light tan theme */
    --parchment-bg: #d6c4b0;
    --parchment-fg: #f2ebe0;
    --parchment-text-soft: #6f6960;
    --parchment-text-hard: #1e1e1e;
    --parchment-text-contrast: rgb(90, 0, 0);

    /* Ganache (dark): deep chocolate brown theme */
    --ganache-bg: #352925;
    --ganache-fg: #5d4f4b;
    --ganache-text-soft: #ad9d98;
    --ganache-text-hard: #e8ddd4;
    --ganache-text-contrast: rgb(255, 227, 181);
}

/**
 * Maps theme variables to CSS custom properties
 */
/* Light Theme */
:root[data-theme="parchment"] {
    --bg: var(--parchment-bg);
    --fg: var(--parchment-fg);
    --text-soft: var(--parchment-text-soft);
    --text-hard: var(--parchment-text-hard);
    --text-contrast: var(--parchment-text-contrast);
}

/* Dark Theme */
:root[data-theme="ganache"] {
    --bg: var(--ganache-bg);
    --fg: var(--ganache-fg);
    --text-soft: var(--ganache-text-soft);
    --text-hard: var(--ganache-text-hard);
    --text-contrast: var(--ganache-text-contrast);
}

/**
 * Font Families
 */
@font-face {
    font-family: "Spectral SC";
    src: url("fonts/Spectral_SC/SpectralSC-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Spectral SC";
    src: url("fonts/Spectral_SC/SpectralSC-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Serif";
    src: url("fonts/IBM_Plex_Serif/IBMPlexSerif-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

#shader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: -1;
    pointer-events: none;
}

